body{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
	color:white;
	
}

header { 

	min-width:100%;
	max-width:100%;
	min-height:400px;
	max-height:400px;
	background: url(img/header.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	-webkit-box-shadow: 0px 0px 0px 6px rgb(243, 73, 73);
	-moz-box-shadow: 0px 0px 0px 6px rgb(243, 73, 73);
	-o-box-shadow: 0px 0px 0px 6px rgb(243, 73, 73);
	box-shadow: 0px 0px 0px 6px rgb(243, 73, 73);
	
	position:relative; 
}

#imens{
	margin-top: 0px;
	background-image: url(img/background.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#footer2{
	float:left;
}

#overlay{
	background-color:rgba(63,63,63, 0.59);
	min-width:100%;
	max-width:100%;
	min-height:400px;
	max-height:400px;
	position:absolute;
	z-index:1;
}

#logo{

	background:url(img/logo.png);
	background-size:cover;
	
	min-width:350px;
	max-width:350px;
	
	min-height:350px;
	max-height:350px;

    margin:0 auto;
	
	
	position: relative;
	z-index:2;
	
}

#juicy{
	margin:0 auto;
	left: 30%;
	top:120px;
	font-size:30px;
	color:white;
	font-family:Lucida Handwriting;
	position:absolute; 
	z-index:3;
}

#best{
	margin:0 auto;
	left:-33%;
	top:85%;
	float:left;
	font-size:15px;
	width:650px;
	color:white;
	font-family:Lucida Handwriting;
	position:absolute; z-index:4;
}

#menu{
	position:absolute; z-index:5;
	color:white;
	font-family:Verdana;
	font-size:15px;
	right:0%;
	float:left;
}

#menu ul li{
	display:inline;
	padding-right: 30px;
	overflow:hidden;
}

#menu ul li a:hover{
	padding: 0px 0px 20px 0px;
	background-color: rgb(243, 73, 73); 
	cursor:pointer;
   
}

#section1{
	margin-bottom:75px;
}

#section1 h1{
	font-family:Calibri;
	color:rgb(85,85,85);
	text-align:center;
	font-size:60px;
	font-weight:300;
}

#bgVid{
	height:360px;
	width:720px;
	background-color:rgb(235, 235, 235);
	margin:0 auto;
	margin-bottom:5px;
	position: relative;
}

#playbtn{
	width:100px;
	height:100px;
	background:url(img/play.png);
	background-size:100% 100%;

	position:absolute;
	margin-top:20%;
	margin-left: 42%;
	/*margin-left:23%;*/
}

#playbtn:hover{
	background:url(img/play_hover.png);
	background-size:100% 100%;
}

#text-intro{
	font-family:Calibri;
	color:rgb(85,85,85);
	text-align:center;
	font-size:25px;
	font-weight:300;
	padding-left:30px;
	/*margin-top: -200px;*/
	width: 85%;
	margin: -200px auto 150px auto;
}

#section1{
	margin-bottom:220px;
}

/*#section1 h2{
	font-family:Calibri;
	color:rgb(85,85,85);
	text-align:center;
	font-size:25px;
	font-weight:300;
	padding-left:30px;
}*/

#section2{
	margin-left:8%;
	margin-bottom:220px;
}

#section2 h2{
	font-family:Calibri;
	color:rgb(85,85,85);
	font-size:25px;
}




#imagini{
	width:80%;
	height:300px;
	margin:0 auto;
}

#arrayBar{
	margin:0 auto;
	position:absolute;
	left:43%;	
}





#section2 h3{
	font-family:Calibri;
	color:rgb(85,85,85);
	font-size:20px;
	margin-top:0px;
}

.slSection{
	width:200px;
	height:230px;
	float:left;
	margin-left:20px;
}

.imajine{
	width:200px;
	height:200px;
	background-color:rgb(240,240,240);
}


#arrayBar{
	min-width:200px;
	height:20px;
	float:left;
	margin-bottom:220px;
}


#arrayBar ul{
	margin:0 auto;
    margin-bottom:150px;
}

#arrayBar ul li{
	display: inline;
	cursor:pointer;		
}


#arrayBar ul li span {
    width:10px;
    height:10px;
	float:left;
    margin:0 5px;
    background-color: rgb(80,80,80);
    text-indent: -9999px;
	margin-top:20px;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#arrayBar .arraySelected{
	 background-color: rgb(243, 73, 73); 
}

.sliderHiddenSection{
	display:none;
}

.sliderVisibleSection{
	display:block;
}





#section3{
	margin-left:0%;
	margin-bottom:150px;
	width: 700px;
}

#section3 h2{
	font-family:Calibri;
	color:rgb(85,85,85);
	font-size:25px;
}



#bgGal{
	width:1280px;
	max-height:720px;
	margin: 3%;
}


.continut_bg {
	/*width : 23.7%;*/
	width:970px;
	margin : 0 auto;
}	


#footer-bg{
	overflow : hidden;
	padding : 50px 0;
	background : #3b3b3b;
	color:white;
	font-family:Calibri;
	margin-bottom: 0%;
	/*float:left;*/
}


#footer_left{
	float : left;
	width: 310px;
	height: 300px;
	margin-right: 20px;
}
#footer_right {
	float : right;
	width : 310px;
	height: 300px;
	margin-right : 0px;
}
#footer_central {
	float : left;
	width: 310px;
	height: 300px;
	margin-right: 20px;
}
div.footer_right {
	text-align: center;
	margin-bottom : 15px;
	margin-top: 10px;
}

#logoFooter{
	background:url(img/logo_footer.png);
	background-size:100% 100%;
	width:250px;
	height:250px;
	margin-top:5px;
}

#img_meniu{
	background:url(img/meniu.png);
	width:150px;
	height:150px;
	
	background-size:100% 100%;
	
	margin:0 auto;	
}

#img_contul_meu{
	background:url(img/contul_meu.png);
	width:150px;
	height:150px;
	
	background-size:100% 100%;
	
	margin:0 auto;	
}

#listameniustg{
	margin-left:5%;
	margin-bottom:250px;
}

#listameniustg h2{
	font-family:Calibri;
	font-size:25px;
	color:rgba(85,85,85, 1);
	font-weight:bold;
	line-height:5px;
}

#listameniustg h3{
	font-family:Calibri;
	font-size:15px;
	color:rgba(85,85,85,0.6);
	font-weight:bold;
}

#listameniustg ul li{
	padding-bottom:15px;
}

#newsSection{
	width:75%;
	margin:0 auto;
	margin-bottom:220px;
}


#meniu_rosu{
	background:url(img/meniu.png);
	width:150px;
	height:150px;	
	background-size:100% 100%;
	margin:0 auto;
}

#listameniustg{
	margin-left:5%;
	margin-bottom:250px;
}

#listameniustg h2{
	font-family:Calibri;
	font-size:25px;
	color:rgba(85,85,85, 1);
	font-weight:bold;
	line-height:5px;
}

#listameniustg h3{
	font-family:Calibri;
	font-size:15px;
	color:rgba(85,85,85,0.6);
	font-weight:bold;
}

#listameniustg ul li{
	padding-bottom:15px;
}



#centrat{
	width : 970px;
	margin : 0 auto;

}



.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99993;
	opacity:0;
	max-width:100%;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 70%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/* Contact */
.contact-form {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.contact-form h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
.contact-form h1>span {
    display: block;
    font-size: 11px;
}
.contact-form label {
    display: block;
    margin: 0px 0px 5px;
}
.contact-form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea, .contact-form select{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.contact-form select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height:15px;
}
.contact-form textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.contact-form .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.contact-form .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}

#imageDialog{
	
	display:none;
	max-width:100%;
	height:100vh;
	
	position:fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;


	z-index:99999;
	background-color:rgba(27,27,27,0.5);
}

#closeBtnImageDialog{
	text-align:right; position:absolute; right:2%; color:white; cursor:pointer; color:white;
}
#closeBtnImageDialog:hover{
	text-align:right; position:absolute; right:2%; color:white; cursor:pointer; color:white;
	background-color:rgba(0,0,0,0.8);
	padding: 10px 10px 10px;
}


#imgOutput{
	margin-top:8%;
	max-height:530px;
	border: 1px solid #CCC; 
}

#avatar{
	background:url("http://i273.photobucket.com/albums/jj208/Lowrider100_2008/L-avvie.png");
	width:200px;
	height:200px;
	
	background-size:100% 100%;
	
	margin:0 auto;	
}

table#profil {
	border-radius: 35px;
	width: 80%;
	height: 500px;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 10%;
	background-color: #f24a4a; 
	text-align: center;
}
table td{
	width: 50%;
}
img#img_avatar{
	margin-top: 10%;
	width: 200px;
	height: 200px;

	/* avatar rotund */
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
   	-moz-border-radius: 100%;
}
a#text_profil{
	font-family: Corbel;
	font-size: 18px;
}

img#img_button_avatar{
	width: 18px;
	height: 21px;
}

img#img_button_cart{
	width: 25px;
	height: 22px;
}

img#img_header_cart{
	width: 60px;
	height: 50px;
    top: 10px;
    right: 10px;
    z-index: 100;
    position: absolute;
}

td#detalii_profil{
	text-align: left;
	padding-left: 100px;
	font-family: Corbel;
	color: white;
	font-size: 24px;
}

img#img_button_profil{
	text-align: left;
	width: 25px;
	height: 22px;
}

img#img_button_history{
	width: 18px;
	height: 20px;
}
img#img_button_wallet{
	width: 18px;
	height: 21px;
}

.error {
	color: red;
}

img#img_produs{
	width: 140px;
	height: 140px;
}

#produs{
	width : 1227px;
	margin : 0 auto;
	margin-bottom: 0px;
}

div#imagine_produs{
	margin-top: -20px;
 	margin-bottom: -25px;
	float:left; 
	width: 20%;
}

div#descriere_produs{
	transform: translateY(10%);
	float: left;
	width: 60%;
	color: #f24a4a;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
	font-family: Corbel;
	
}

#total{
	transform: translateY(-10%);
	float: left;
	width: 60%;
	color: #f24a4a;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
	font-family: Corbel;
	
}

#descriere_produs_rec{
	transform: translateY(10%);
	float: left;
	width: 60%;
	color: #22A7F0;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
	font-family: Corbel;
	
}

#buy_now{
	transform: translateY(60%);
	width: 120px;
}

#nr_prod{
    top: 25px;
    right: 17px;
    font-size: 14px;
    font-weight: bold;
    color : #f24a4a ;
    z-index: 100;
    position: absolute;
}

#search_ul{
	text-align: right;
	color: #f24a4a;
	font-family: Corbel;
	font-weight: bold;
}

#paginare{
	text-align: center;
	color: #f24a4a;
	font-family: Corbel;
	font-weight: bold;
}

#meniu_bar{
	width: 100%;
	height: 5px;
}

#add_to_cart{
	width: 120px;
	transform: translateY(130%);
	position:absolute;
}

#add_buc{
	transform: translateY(330%);
}

#recomandari{
	font-size: 28px;
	text-align: center;
	color: #22A7F0;
	font-weight: bold;
	font-family: Corbel;
}

#all_products{
	font-size: 28px;
	text-align: center;
	color: #f24a4a;
	font-weight: bold;
	font-family: Corbel;
}

#contForm {

	margin-top:12%;
	
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#contForm h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
#contForm h1>span {
    display: block;
    font-size: 11px;
}
#contForm label {
    display: block;
    margin: 0px 0px 5px;
}
#contForm label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
#contForm input[type="text"], #contForm input[type="email"], #contForm textarea, #contForm select{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#contForm select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height:15px;
}
#contForm textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
#contForm .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
#contForm .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}


#contact{
	display:none;

	max-width:100%;
	height:100vh;
	
	position:fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;


	z-index:99999;
	background-color:rgba(27,27,27,0.5);
	
}

#contactClsBtn{
text-align:right; position:absolute; right:2%; color:white; cursor:pointer; color:white; 
}